<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}OC Plateforme{% endblock %}</title>

	{% block stylesheets %}
		{# On charge le CSS de bootstrap depuis le site directement #}
		{# <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> #}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
	{% endblock %}
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ path('gb_platform_home') }}">AdvertPlatform</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="{{ path('gb_platform_home') }}">Accueil</a></li>
				<li><a href="#">Recherche une annonce</a></li>
				<li><a href="{{ path('gb_platform_add') }}">Créer une annonce</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Inscription</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Connexion</a></li>
			</ul>
		</div>
	</nav>
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Dernières annonces</h4></div>
				<div class="panel-body">
					{{ render(controller("GBPlatformBundle:Advert:menu", {'limit': 8})) }}
				</div>
			</div>
		</div>
		<div id="content" class="col-md-7">
			{% block body %}
			{% endblock %}
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Nombre d'annonces par catégorie</h4></div>
				<div class="panel-body">
					{{ render(controller("GBPlatformBundle:Advert:menu", {'limit': 8})) }}
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
	</footer>

	{% block javascripts %}
		{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	{% endblock %}

</body>
</html>