{% extends "GBPlatformBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block gbplatform_body %}
	<div class="panel-heading">
		<h3>Liste des annonces</h3>
	</div>
	<div class="panel-body">
		<ul>
			{% for advert in listAdverts %}
				<div class="well">
					{% if (advert.image is not null) and (advert.image.url is not null) %}
						<div id="indexAdvertPicture">
							<img src="{{ advert.image.url }}" alt="{{ (advert.image.alt is not null) ? advert.image.alt : 'Advert Picture' }}" title="Advert Picture">
						</div>
					{% endif %}
					<div id="indexAdvertResume" 
						{% if (advert.image is not null) and (advert.image.url is not null) %}
							style="width: 75%;"
						{% endif %}
					>
						<a href="{{ path('gb_platform_view', {'id': advert.id}) }}">
							{{ advert.title }}
						</a>
						&nbsp;-&nbsp;
						{% if not advert.categories.empty %}
							{% for category in advert.categories %}
								<span class="label label-info">{{ category.name }}</span>
								{#{ category.name }}{% if not loop.last %}, {% endif %}#}
							{% endfor %}
						{% endif %}
						<br />
						Par <a href="#">{{ advert.author }}</a>, le {{ advert.date|date('d/m/Y') }}
						<p>
							{{ advert.content }}
						</p>
					</div>
				</div>
			{% else %}
				<li>Pas (encore !) d'annonces</li>
			{% endfor %}
		</ul>

		<div id="indexPagination">
			<ul class="pagination">
				{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
				{% for p in range(1, nbPages) %}
					<li{% if p == page %} class="active"{% endif %}>
						<a href="{{ path('gb_platform_home', {'page': p}) }}">{{ p }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}